@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

.login {
  width: 100%;
  height: 100%;
}

.login img {
  position: absolute;
  width: 75%;
  height: 100%;
  /* background-image: url('../../assets/bglog.svg'); */
  object-fit: contain;
}

.form {
  position: absolute;
  width: 45vw;
  height: 99.6%;
  right: 0;
  top: 0px;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.161);
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.25);
}

.formteks {
  display: flex;
  flex-direction: column;
}
h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 28px;
  position: absolute;
  margin-top: 14vh;
  left: 9vw;
}

.login-form {
  position: absolute;
  width: 50%;
  margin-top: 28vh;
  left: 9vw;
}

.form-group {
  margin-bottom: 5%;
}

label {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin-bottom: 2%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 6vh;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input::placeholder {
  font-family: "Poppins";
  font-weight: 500;
  opacity: 0.3;
}

.btn-login {
  margin-top: 10%;
  display: block;
  width: 106%;
  height: 10vh;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
}

.btn-login:hover {
  background-color: #0056b3;
}

h4 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 11px;
  color: #004eda;
}

h4:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 748px) {
  .form {
    width: 100%;
    display: flex;
    /* flex-direction: row;
    text-align: center;
    justify-content: center; */
  }
  .formteks {
    margin-top: 0;
    width: 100%;
  }
  .login-form {
    /* text-align: center;
    justify-content: center; */
    margin-left: 12%;
  }
  h3 {
    /* position: relative; */
    margin-left: 29%;
  }

  .login img {
    width: 100%;
    height: 100%;
  }
}
