.ilustrasi {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 115px;
}

.ilustrasi > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

input[type="number"] {
    width: 50px;
    height: 35px;
    /* padding: 8px; */
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.SP1,
.SP2 {
    position: absolute;
    /* transform: translate(5%, 5%); */
    /* background-color: #F0F0F0; */
    padding: 10px;
}

.SP1 {
    top: 5%;
    left: 43%;
}

.SP2 {
    top: 50%;
    left: 32.5%;
}

.spanSP1,
.spanSP2 {
    font-family: Retropix;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

/* Membuat tata letak responsif */
/* @media screen and (max-width: 768px) {
    .ilustrasi {
        height: auto;
        padding-top: 124px;
    }
    
    .T1,
    .T3 {
        top: 40%;
    }
} */

/* laptop L done */
@media (min-width: 1025px) and (max-width: 1440px) {
    .ilustrasi{
        height: 90vh;
        top: 120px;
    }
    input[type="number"] {
        width: 50px;
        height: 35px;
        padding: 2px;
        border-radius: 2px;
        border: 0.5px solid #ccc;
        margin-bottom: 2px;
    }
    
    .SP1,
    .SP2 {
        position: absolute;
        transform: translate(-50%, -50%);  
        font-size: 15px;
        top: 30%;
        width: 120px;
        height: 7px;
        padding: 5px;
    }

    .SP1 {
        top: 5%;
        left: 46.5%;
    }

    .SP2 {
        top: 51.5%;
        left: 30%;
    }

    .spanSP1,.spanSP2 {
        font-family: Retropix;
        font-size: 20px;
        font-weight: bold;
        margin-right: 2px;
    }
}
/* laptop done */
@media (min-width: 769px) and (max-width: 1024px) {
    .ilustrasi{
        height: 80vh;
        top: 150px;
    }
    input[type="number"] {
        width: 30px;
        height: 20px;
        padding: 2px;
        border-radius: 2px;
        border: 0.5px solid #ccc;
        margin-bottom: 2px;
    }
    
    .SP1,
    .SP2 {
        position: absolute;
        transform: translate(-50%, -50%);  
        font-size: 15px;
        top: 30%;
        width: 100px;
        height: 7px;
        padding: 5px;
    }

    .SP1 {
        top: 7%;
        left: 46%;
    }

    .SP2 {
        top: 51.5%;
        left: 29.5%;
    }

    .spanSP1,.spanSP2 {
        font-family: Retropix;
        font-size: 15px;
        font-weight: bold;
        margin-right: 2px;
    }
}
/* tablet done */
@media (min-width: 481px) and (max-width: 768px) {
    .ilustrasi{
        height: 70vh;
        top: 150px;
    }
    input[type="number"] {
        width: 30px;
        height: 20px;
        padding: 2px;
        border-radius: 2px;
        border: 0.5px solid #ccc;
        margin-bottom: 2px;
    }
    
    .SP1,
    .SP2 {
        position: absolute;
        transform: translate(-50%, -50%);  
        font-size: 15px;
        top: 30%;
        width: 100px;
        height: 7px;
        padding: 5px;
    }

    .SP1 {
        top: 7%;
        left: 46%;
    }

    .SP2 {
        top: 51.5%;
        left: 27%;
    }

    .spanSP1,.spanSP2 {
        font-family: Retropix;
        font-size: 15px;
        font-weight: bold;
        margin-right: 2px;
    }
}
/* mobile L */
@media (min-width: 376px) and (max-width: 480px) {
    .ilustrasi{
        height: 50vh;
        /* top: 0px; */
    }
    input[type="number"] {
        width: 5px;
        height: 5px;
        padding: 2px;
        border-radius: 2px;
        border: 0.5px solid #ccc;
        margin-bottom: 2px;
    }
    
    .SP1,
    .SP2 {
        position: absolute;
        transform: translate(-50%, -50%);  
        font-size: 7px;
        top: 30%;
        width: 35px;
        height: 7px;
        padding: 5px;
    }

    .SP1 {
        top: 9.5%;
        left: 54.5%;
    }

    .SP2 {
        top: 49.5%;
        left: -100px;
    }

    .spanSP1,.spanSP2 {
        font-family: Retropix;
        font-size: 7px;
        font-weight: bold;
        margin-right: 2px;
    }
}
/* mobile M */
@media (min-width: 321px) and (max-width: 375px) {
    .ilustrasi{
        width: 100%;
        height: 50vh;
    }

    .ilustrasi > img {
        width: 100%;
        height: 100%;
    }

    input[type="number"] {
        width: 3px;
        height: 3px;
        padding: 2px;
        border-radius: 2px;
        border: 0.5px solid #ccc;
        margin-bottom: 2px;
    }
    
    .SP1,
    .SP2 {
        position: absolute;
        /* transform: translate(-50%, -50%);   */
        font-size: 4px;
        top: 30%;
        width: 25px;
        height: 7px;
        padding: 5px;
    }

    .SP1 {
        top: 23%;
        left: 54%;
    }

    .SP2 {
        top: 22%;
        left: 10%

        /* right: 2px; */
    }

    .spanSP1,.spanSP2 {
        font-family: Retropix;
        font-size: 5px;
        font-weight: bold;
        margin-right: 2px;
        
    }
}

@font-face {
    font-family: Retropix;
    src: url('C:\Users\LENOVO\Documents\Project IIT\hmi_armfield\src\assets\retropix.otf');
}