.hami{
    /* position: relative; */
    background: #F2F2F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.gambar{
    /* position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(50%,-50%); */
    position: relative;
    height: 70%;
    width: 40%;
    margin-top: 100px;
    background-image: url("../../assets/HMI.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.kotak{
    height: 50%;
    /* background-color: #6F6F6F; */
    width: 15%;
    padding: 5px;
}

.kotak1{
    width: 100%;
    height: 50%;
    background-color: #EFEFEF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border: solid #AAAAAA;
}

.kotak1 > p {
    font-family: Retropix;
    font-size: larger;
    margin-left: 5%;
}

.time_sampling {
    position: absolute;
    /* margin-top: 5%; */
    margin-left: 50px;
}

.time_sampling > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.current_time {
    position: absolute;
    margin-top: 5%;
    margin-left: 50px;
}

.current_time > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.kotak2{
    width: 100%;
    height: 50%;
    background-color:#EFEFEF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border: solid #AAAAAA;
    margin-top: 5px;
}

.kotak2 > p {
    font-family: Retropix;
    font-size: larger;
    margin-left: 5%;
}
/* .kotak2 > img {} */

.actual_output {
    position: absolute;
    /* margin-top: 1; */
    margin-left: 50px;
}

.actual_output > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.heater_output {
    position: absolute;
    margin-top: 3%;
    margin-left: 50px;
}

.heater_output > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}



input[type = "number"]{
    width: 40px;
    height: 20px;
}

.spanSP1,.spanSP2,.spanSP3,.spanT1,.spanT2,.spanT3,.spanT4,.spanN1,.spanF1,.spanL1,.spanC1,.spanTS,.spanCT,.spanAO,.spanHO {
    font-family: Retropix;
    margin-right: 5px
}

.SP1{
    position: absolute;
    margin-left: 40%;
    margin-top: 4%;
}

.SP2{
    position: absolute;
    margin-left: 34%;
    margin-top: 33%;
}

.SP3{
    position: absolute;
    margin-left: 69%;
    margin-top: 65%;
    
}

.T1 {
    position: absolute;
    margin-left: 43%;
    margin-top: 9%;
}

.T1 > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.T2 {
    position: absolute;
    margin-left: 80%;
    margin-top:65%; 
}
.T2 > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.T3{
    position: absolute;
    margin-left: 24%;
    margin-top:44%; 
}
.T3 > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.T4{
    position: absolute;
    margin-left: 57%;
    margin-top:40%; 
}
.T4 > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.N1 {
    position: absolute;
    margin-left: 40%;
    margin-top: 40%;
    
}
.N1 > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.F1{
    position:absolute;
    margin-left: 57%;
    margin-top: 35%;
}
.F1 > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.L1{
    position: absolute;
    margin-left: 2%;
    margin-top: 33%;
}
.L1 > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.C1{
    position: absolute;
    margin-left: 24%;
    margin-top: 50%;
}
.C1 > p {
    font-family: Retropix;
    display: inline;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
@font-face {
    font-family: Retropix;
    src: local(Retropix), url(../../assets/retropix.otf);
}