@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

.profile{
    background: #F2F2F8;
}

.prof-box{
    display: grid;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    padding-left: 25%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-right: 25%;
    gap: 25px;
}

.flex-username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 3;
}

.flex h6{
    font-size: 25px;
    font-family: 'Poppins';
    color: #007bff;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
}

.flex p{
    font-size: 20px;
    font-family: 'Poppins';
    margin: 0;
    padding-bottom: 15px; 
    padding-top: 5px;   
    padding-left: 0;
}

.prof-img{
    grid-row-start: 3;
    place-self: center end;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.prof-img > img{
    height: 100%;
}

.prof-button{
    grid-column: span 2;
    grid-row-start: 4;
    place-self: start center;
    height: 50px;
    width: 500px;
    padding: 10px;
}

.btn-edit{
    background-color: #007bff;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 4px;
    /* grid-column: span 2;
    grid-row-start: 4;
    place-self: start center; */
}

.btn-edit:hover {
    background-color: #0056b3;
}

@media (max-width: 768px){
    .prof-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-top: 10vh;
    }

    .prof-img{
        width: 200px;
        height: 200px;
    }

    .prof-img > img{
        object-fit: contain;
    }

    .prof-button{
        padding: 0px;
        width: 100%;
        min-width: 200px;
        max-width: 250px;
        place-self: center;
    }

    .flex-username{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row-start: 3;
    }

    .flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}